.container{
	padding-top: 20px;
	margin: 0 auto;
	width: 90%;
	max-width: 960px;

	font-family: 'Source Sans Pro', sans-serif;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	grid-auto-rows: minmax(50px, auto);
}

header {
	grid-column: 1/3;
	grid-row: 1;
}

header a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	color: #C57B57;
}

h3, h4 {
	text-align: center;
}

h2 {
	grid-column: 1/4;
	grid-row: 2;
	text-align: center;
	text-weight: bold;
}

nav {
	grid-column: 3/4;
	grid-row: 1;
}

.summary-left{
	grid-column: 1/3;
	grid-row: 3;
}

.summary-right{
	grid-column: 3/4;
	grid-row: 3;
}

nav ul {
	display: flex;
}

nav li {
	font-family: 'Source Sans Pro', sans-serif;
	list-style-type: none;
	font-weight: bold;
	border-right: 1px solid white;
	color: #1E2D2F;
	text-decoration: none;
}

nav li:last-child {
	border-right: none;
}

nav ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li a {
	display: block;
	text-align: center;
	padding: 10px 15px;
	background-color: #F1AB86;
	text-decoration: none;
}

p {
	line-height: 1.9em;
	text-align: justify;
}
