.intro {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

h2 {
	font-family: 'Abril Fatface', cursive;
	font-size: 70px;
	letter-spacing: 4px;
}

.intro img {
	margin-right: 20px;
}

h3 {
	font-family: 'Abril Fatface', cursive;
	font-size: 36px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 45px;
	line-height: 1.8;
}

.one {
	margin-top: 30px;
	padding-left: 80px;
	padding-right: 80px;
}

.whole {
	margin-bottom: 120px;
}

.one li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 2;

}