.container{
	padding-top: 20px;
	margin: 0 auto;
	width: 90%;
	max-width: 960px;

	font-family: 'Source Sans Pro', sans-serif;
}

nav ul {
	display: flex;
}

nav li {
	font-family: 'Source Sans Pro', sans-serif;
}


nav li {
	list-style-type: none;
}

h2 {
	grid-column: 1/4;
}